<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>首頁</title>
</head>
<body>
	<h1>首頁</h1>
	<a th:href="@{/file}">GoTo download/upload</a>
	<div id="app">
		<a @click="testAxios" th:href="@{/testAxios}">SpringMVC處理ajax</a>
	</div>
	<script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
	<script type="text/javascript">
		new Vue({
			el : "#app",
			methods : {
				testAxios : function(event) {
					axios({
						method : "post",
						url : event.target.href,
						params : {
							username : "admin",
							password : "1234"
						}
					}).then(function(response) {
						alert(response.data);
					});

					event.preventDefault();
				}
			}
		});
	</script>
</body>
</html>